{% extends 'base.html' %}

{% block content %}
    <h1>Edit Movie</h1>

    <form method="POST" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <label for="title">Title</label>
            {{ form.title(class="form-control", id="title") }}
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            {{ form.genre(class="form-control", id="genre") }}
        </div>
        <div class="form-group">
            <label for="year">Year</label>
            {{ form.year(class="form-control", id="year") }}
        </div>
        <div class="form-group">
            <label for="description">Description</label>
            {{ form.description(class="form-control", id="description", rows=4) }}
        </div>
        <div class="form-group">
            <label for="image">Image</label>
            <input type="file" class="form-control" id="image" name="image">
        </div>
        <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
    </form>
{% endblock %}
